-- Up to RC 934
-- 
-- ribonscript_script_texts.sql Contains data for table `script_texts` mainly used in C++ parts.
-- valid entries for table are between -1000000 and -1999999
-- 

-- ALTER TABLE `script_texts` ADD COLUMN `npc_entry` mediumint(8)  NOT NULL DEFAULT 0 COMMENT 'creature_template entry' FIRST;
/*
DROP TABLE IF EXISTS `script_texts`;
CREATE TABLE `script_texts` (
  `npc_entry` mediumint(8) NOT NULL default '0' COMMENT 'creature_template entry',
  `entry` mediumint(8) NOT NULL,
  `content_default` text NOT NULL,
  `content_loc1` text,
  `content_loc2` text,
  `content_loc3` text,
  `content_loc4` text,
  `content_loc5` text,
  `content_loc6` text,
  `content_loc7` text,
  `content_loc8` text,
  `sound` mediumint(8) unsigned NOT NULL default '0',
  `type` tinyint(3) unsigned NOT NULL default '0',
  `language` tinyint(3) unsigned NOT NULL default '0',
  `emote` smallint(5) unsigned NOT NULL default '0',
  `comment` text,
  PRIMARY KEY  (`npc_entry`,`entry`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8 ROW_FORMAT=FIXED COMMENT='Script Texts';
*/
-- 
-- -1 000 000 First 100 entries are reserved for special use, do not add regular text here.
-- 
DELETE FROM `script_texts` WHERE entry between -1999925 and -1000000;

DELETE FROM `creature_ai_scripts` WHERE `creature_id` in (26796,26798,26929,26928,26930);

-- Used in guards.cpp, see GOSSIP_TEXT_INSCRIPTION
DELETE FROM `npc_text` WHERE `ID` IN (30000,30001);

-- Dalaran guards
UPDATE `creature_template` SET `ScriptName`='poi_dalaran' WHERE (`entry` BETWEEN 32670 AND 32700) AND (`IconName`='Directions');
DELETE FROM `npc_text` WHERE `ID` IN 
	(14009, 13993, 13992, 14006, 14005, 13973, 13961, 13960, 13969, 13976, 14010, 14007, 14003, 13977, 14004, 14015, 14002, 14251, 14008, 13975, 14001, 14000, 13999, 14117);

-- Dual Spec `npc_option` change
UPDATE `npc_option` SET `id`=52,`action`=19 WHERE `id`=51 AND `action`=18 AND `option_text`='UNIT_NPC_FLAG_OUTDOORPVP';
DELETE FROM `npc_option` WHERE `id`=51;
INSERT INTO `npc_option` (`id`,`gossip_id`,`npcflag`,`icon`,`action`,`box_money`,`coded`,`option_text`,`box_text`) VALUES
   ('51','0','16','0','18','10000000','0','Purchase a Dual Talent Specialization.','Are you sure you wish to purchase a Dual Talent Specialization?');
