ALTER TABLE db_version CHANGE COLUMN required_940_world_utgarde_pinnacle required_947_world_scripts bit;

-- Dalaran Guards
UPDATE `creature_template` SET `ScriptName`='guard_dalaran' WHERE (`entry` BETWEEN 32670 AND 32700) AND (`IconName`='Directions');
DELETE FROM `npc_text` WHERE `ID` IN 
	(14009, 13993, 13992, 14006, 14005, 13973, 13961, 13960, 13969, 13976, 14010, 14007, 14003, 13977, 14004, 14015, 14002, 14251, 14008, 13975, 14001, 14000, 13999, 14117);
	